/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

header {
    z-index: 999;
}
/* Card */
.text-area h3 {
    text-transform: uppercase;
}
.price {
    color: red;
    font-weight: bold;
}

.producer {
    text-transform: capitalize;
}

.disc-price {
    text-decoration: line-through;
}

/* MAIN */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: calc(100% / 3 - 40px / 3);
    position: relative;
}

/* Item */
.card {
    width: 100%;
    position: relative;
}
.img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.img-top {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.card:hover .img-top{
    display: none;
}
.label {
    position: absolute;
    bottom: 25%;
    left: 0;
}

.label span {
    padding: .3rem;
    color: white;
    margin-right: .2rem;
    z-index: 3;
}
.discount {
    background-color: red;
}

.green {
    background-color: green;
}

.heart {
    background-color: white;
    padding: .3rem .4rem;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.2rem;
    z-index: 4;
}

.heart:hover {
    color: red;
}