/* VARIABLES */

:root {
    --header-color: #F96902;
    --footer-color: #1A1A1A;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

header {
    width: 100%;
    z-index: 999;
    background-color: var(--header-color);
    position: fixed;
    /* debug */
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
/* Card */
.text-area h3 {
    text-transform: uppercase;
}
.price {
    color: red;
    font-weight: bold;
}

.producer {
    text-transform: capitalize;
}

.disc-price {
    text-decoration: line-through;
}

/* HEADER */

nav{
    width: 100%;
    height: 100%;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;;
    color: white;
}
/* Nav-bar */
.type {
    width: 20% ;
}

.type-list {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: black;
}
/* /Nav-bar */

/* Logo */
.logo {
    width: 60%;
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 25%;
}
/* /Logo */

/* Nav-tools */
.tools {
    width: 20%;
    color: white;
    text-align: end;
}
/* /Nav-tools */















/* MAIN */

main .container {
    width: 80%;
    margin: 0 auto;
    padding: 170px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: calc(100% / 3 - 40px / 3);
    position: relative;
}

/* Item */
.card {
    width: 100%;
    position: relative;
}
.img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.img-top {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.card:hover .img-top{
    display: none;
}
.label {
    position: absolute;
    bottom: 25%;
    left: 0;
}

.label span {
    padding: .3rem;
    color: white;
    margin-right: .2rem;
    z-index: 3;
}
.discount {
    background-color: red;
}

.green {
    background-color: green;
}

.heart {
    background-color: white;
    padding: .3rem .4rem;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.2rem;
    z-index: 4;
}

.heart:hover {
    color: red;
}